<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <router-link to='/home'>首页</router-link>
        <router-link to='/blog'>我的博客</router-link>
        <router-link to='/login'>登录</router-link>
        <a href="javascript:void(0)">退出</a>
        <router-view></router-view>
    </div>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
    <script src="../node_modules/vue-router/dist/vue-router.min.js"></script>
    <script>
        Vue.use(VueRouter); // 相当于挂载到原型上
        var Home = {
            template: `
                <h3>我是首页页面</h3>
            `
        };
        var Blog = {
            template: `
                <h3>我是博客页面</h3>
            `
        };
        var Login = {
            data() {
                return {
                    name: '',
                    pwd: ''
                }
            },
            template: `
                <div>
                    <input type='text' v-model='name' />
                    <input type='password' v-model='pwd' />
                    <input type='button' value='登录' @click='loginHandler'>
                </div>
            `,
            methods: {
                loginHandler() {
                    // 把数据存储起来
                    localStorage.setItem('user', {
                        name: this.name,
                        pwd: this.pwd
                    });
                    // 再跳转到博客页面
                    // 编程式导航
                    this.$router.push({
                        name: 'blog' // 用命名路由
                    });
                }
            }
        };

        var router = new VueRouter({
            routes: [
                {
                    path: '/',
                    redirect: '/home'
                },
                {
                    path: '/home',
                    component: Home
                },
                {
                    path: '/blog',
                    name: 'blog',
                    component: Blog,
                    // 给未来的路由做权限控制
                    meta: {
                        // 为true，表明用户访问该组件时需要登录
                        // 为false，表明用户已登录
                        auth: true 
                    }
                },
                {
                    path: '/login',
                    component: Login
                }
            ]
        });

        // 需要用到全局守卫
        router.beforeEach((to, from, next) => {
            console.log(to);
            console.log(from);
            if(to.meta.auth) { // 如果用户点击了博客链接，就需要登录
                if(localStorage.getItem('user')) { // 不为空，表示登录完成，放行
                    next();
                }else { // 否则，用户需要继续登录
                    next({
                        path: '/login'
                    });
                }
            }else { // 如果用户点击了其他链接，直接放行
                next(); // 不调用next()可能会卡住
            }
        });

        new Vue({
            el: '#app',
            router
        });
    </script>
</body>
</html>